<%- include("partials/header"); -%>
<h1>Home</h1>
<p> <%=content%> </p> 
<div class="container">
    <% for(let i=0;i<posts.length;i++){ %>
        <h1><%=posts[i].postTitle%></h1>
        <p><%=posts[i].postBody%></p>
    <% } %>
</div>
<%- include("partials/footer"); -%>